<div class="w-1/3 mx-auto space-y-4 my-6">
  <h2 class="text-2xl font-bold">Export csv by month</h2>
  <%= form_with(url: export_csv_path(format: "csv") , method: 'get', local: true, class: 'space-y-4') do |f|  %>
    <div class="space-y-2">
          <%= f.label 'select_month' %><br>
          <%= f.month_field :start_date, placeholder: "yyyy-mm"%>
    </div> 
    <div class="group cursor-pointer relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <%= f.submit "Export" , class: 'group-hover: cursor-pointer' %>
    </div>
  <%end%>
</div>