<div class="w-1/2 mx-auto my-3">
  <% if alert %>
    <div id="notice_wrapper">
      <p class="alert text-red-500 bg-red-300 boder-red-500 rounded-md px-3 py-3"><%= alert %></p>
    </div>
  <% elsif notice %>
    <div id="notice_wrapper">
      <p class="notice bg-green-300 boder-green-500 rounded-md px-3 py-3"><%= notice %></p>
    </div>
  <% end %>
</div>