<div class="w-1/2 mx-auto">
<% if alert %>
  <div id="notice_wrapper">
    <p class="alert text-red-500"><%= alert %></p>
  </div>
<% elsif notice %>
  <div id="notice_wrapper">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>
</div>